<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Musyc</title>
</head>
<body>
    <div class="sidebar">
        <a id="heading" href="/">Musyc</a>
        <a href="/all">All songs</a>
        <a href="/playlist">Playlist</a>
    </div>

    <div class="main">
        {% if songs %}
            <ul id="song-list">
                {% for name, src in songs.items() %}
                    <li class="song">
                        <a class="song-name" data-src="{{ src }}">{{ name.split('_')[0] }}</a>
                        <a class="duration">{{ name.split('_')[1] }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <audio id="player" controls></audio>
    </div>

    <div class="sidebar">
        <i id="loopButton" class="fa-solid fa-arrow-rotate-left"></i>
    </div>

    <script src="static/script.js"></script>
</body>
</html>