<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Musyc</title>
</head>
<body>
    <h1>Musyc</h1>

        <!-- <audio id="player" src="{{ song }}" controls></audio> -->
        <!-- <div> 
            <button onclick="document.getElementById('player').play()">Play</button> 
            <button onclick="document.getElementById('player').pause()">Pause</button> 
            <button onclick="document.getElementById('player').volume += 0.1">Vol +</button> 
            <button onclick="document.getElementById('player').volume -= 0.1">Vol -</button> 
        </div> -->
        
    {% if songs %}
        <ul id="song-list">
            {% for name, src in songs.items() %}
                <li class="song">
                    <a class="song-name" data-src="{{ src }}">{{ name.split('_')[0] }}</a>
                    <a class="duration">{{ name.split('_')[1] }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <audio id="player" controls></audio>

    <script src="static/script.js"></script>
</body>
</html>